<%- include("partials/header") %>

<% for (const category of Object.keys(productsByCategory)) { %>
  <div class="category-section">
    <h2><%= category %></h2>
    <hr>

    <div class="product-grid">
      <% productsByCategory[category].forEach(product => { %>
        <div class="product-card">
          <% if (product.image_base64) { %>
            <img src="data:<%= product.image_mimetype %>;base64,<%= product.image_base64 %>" alt="<%= product.name %>">
          <% } else if (product.image_url) { %>
            <img src="<%= product.image_url %>" alt="<%= product.name %>">
          <% } else { %>
             <img src="/images/placeholder.jpg" alt="No image available">
          <% } %>
          

          <h3><%= product.name %></h3>
          <p><%= product.excerpt %></p>
          <p><strong>$<%= product.price %></strong></p>

          <!-- Add to Cart form -->
           <form action="/cart/add/<%= product.id %>" method="POST">
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
           </form>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>

<%- include("partials/footer") %>
